<h2>Vuelo del día {{date}}</h2>
    <div>
            <p>{{date}}</p>
            <p>{{from}}</p>
            <p>{{to}}</p>
            <p>{{kind}}</p>
            <p>{{plate}}</p>
            <p>{{model}}</p>
            <p>{{timeH}}</p>
            <p>{{timeM}}</p>
            <p>{{plus}}</p>


    <form action="/flights/{{_id}}/delete" method="POST">
        <button type="submit">Borrar</button>
    </form>        
    </div>



