<div class="all" id="all">
    <div id="flights">
    <h2>Todos mis vuelos</h2>
            <span><button class="submit" id="btn-create"><a href="/flights/create">+ Crear vuelo</a></button></span>
        {{#each flights}}
            <div class="trans-box-all" >
            <h3>Vuelo del día {{date}}</h3>
        <ul id="info">
            <li>Hora de salida: {{time}} hrs.</li>
            <li>Matrícula: {{plate}}</li>
            <li>Duración: {{timeH}}hrs. {{timeM}}mins.</li>
            <li>Modelo del avión: {{model}}</li>
        </ul>
            <span><button class="submit"><a href="/flights/{{_id}}">✈ Detalles</a></button></span>
            </hr>
            </div>
        {{/each}}
    </div>
</div>
<!--            <p>Vuelo de: {{from.codeOACI}} a: {{to/codeOACI}}</p>
-->